# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Database
dental.db
*.sqlite3

# Environment variables
.env

# Node / Frontend
node_modules/
build/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db